<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>TodHQ</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="search-container">
        <div class="search-box">
            <h1>Find High-quality, trusted daycare providers nearby.</h1>
            <div class="search-fields">
                <form action="{{ url_for('search') }}" method="POST">
                    <div class="input-group">
                        <input type="text" name="zip" id="searchInput" placeholder="Search by Zip Code" required>
                        <br>
                        <br>
                    </div>
                    <button type="submit">Find Child Care</button>
                </form>
            </div>
            <button><a href="{{ url_for('daycareowners') }}">I'm a child care provider</a></button>
        </div>
        <div class="image-box">
            <img src="{{ url_for('static', filename='images/fun.jpg') }}" alt="Illustration of Child Care">
        </div>
    </div>
    </div>

    <!-- Hero Section -->
    <section class="hero">
        <h1>Welcome to TodHQ</h1>
        <p>Your trusted platform for finding quality daycares in your vicinity.</p>

        <!-- Place for an image or a carousel -->
        <div class="hero-images">
            <!-- You can place an image carousel or multiple images here -->
            <img src="{{ url_for('static', filename='images/dc.jpg') }}" alt="Daycare Image 1">
            <img src="{{ url_for('static', filename='images/dc2.jpg') }}" alt="Daycare Image 2">
        </div>
    </section>

    <!-- Quality Assurance Section -->
    <section class="quality-assurance">
        <h1>Quality & Safety Assurance</h1>
        <p>Your child's safety and well-being is paramount. Our commitment is reflected in our strict selection criteria and transparency. Here's how we ensure it:</p>
    
        <div class="info-box">
            <div class="icon"><img src="{{ url_for('static', filename='images/quality.png') }}" alt="Vetted Icon"></div>
            <h3>Vetted Providers</h3>
            <p>Every provider is meticulously screened, ensuring a thorough background check and review for the safety of your child.</p>
        </div>
    
        <div class="info-box">
            <div class="icon"><img src="{{ url_for('static', filename='images/quality.png') }}" alt="Trained Icon"></div>
            <h3>Qualified Professionals</h3>
            <p>All listed daycares are staffed with experts trained in early childhood education, ensuring quality care and learning.</p>
        </div>
    
        <div class="info-box">
            <div class="icon"><img src="{{ url_for('static', filename='images/quality.png') }}" alt="Feedback Icon"></div>
            <h3>Genuine Feedback System</h3>
            <p>Benefit from the experiences of other parents. Browse authentic reviews to make informed decisions.</p>
        </div>
    
        <div class="info-box">
            <div class="icon"><img src="{{ url_for('static', filename='images/quality.png') }}" alt="Hygiene Icon"></div>
            <h3>Hygiene & Safety First</h3>
            <p>We ensure all listed daycares uphold the highest standards of cleanliness and safety, creating a conducive environment for children.</p>
        </div>
    </section>
    

    <!-- CTA (Call To Action) Section -->
    <section class="cta">
        <h3>Discover the Perfect Daycare for Your Child</h3>
        <p>Join our community and give your child the best start in life. Browse our curated list of daycares now.</p>
        <button><a href="{{ url_for('index') }}">Browse Daycares</a></button>
    </section>
    {% include 'chatbot.html' %}


    {% include 'footer.html' %}
</body>

</html>

